<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/78a4a1d08b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/adminPanel.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="navbar-logo">
            <p>Drip Too Hard</p>
        </div>
        <ul class="navbar-anchor">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="/views/about.html">About</a></li>
        </ul>
        <div class="navbar-login">
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="navbar-cart">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
    <div class="adminNav">
        <ul>
            <li><a class="category-filter" data-category="0">Users</a></li>
            <li><a class="category-filter" data-category="1">Products</a></li>
            <li><a class="category-filter" data-category="2">Baskets</a></li>
        </ul>
    </div>
    <div id="alertSuccessMsg" class="alert alert-success" role="alert">
    </div>
    <div class="overview">
        <div class="btn-container">
            <button type="button" id="addNewBtn" class="btn btn-success"><a href=""></a>Add new</button>
        </div>
        <table class="table">
            <thead>
                <tr class="headtr">
                    <% for (let i=0; i==0; i++) { %>
                        <% let keys=Object.keys(products[i]); %>
                            <% for (const key of keys) { %>
                                <% if (key !=="created_at" && key !=="updated_at" ) { %>
                                    <th scope="col">
                                        <%= key %>
                                    </th>
                                    <% } %>
                                        <% } %>
                                            <% } %>
                                                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr id="addNewForm">
                    <% for (let i=0; i==0; i++) { %>
                        <% let keys=Object.keys(products[i]); %>
                            <% for (const key of keys) { %>
                                <% if (key !=="created_at" && key !=="updated_at" && key !=="id" ) { %>
                                    <td>
                                        <input type="text" name="<%= key %>">
                                    </td>
                                    <% } %>
                                        <% } %>
                                            <% } %>
                                                <button type="submit" id="addNewBtn" class="btn btn-success">Ok</button>
                </tr>
                <% for (let i=0; i < products.length; i++) { %>
                    <% let keys=Object.keys(products[i]); %>
                        <tr>
                            <% for (const key in products[i]) { %>
                                <% if (key !=="created_at" && key !=="updated_at" ) { %>
                                    <% if (key=="id" ) { %>
                                        <td>
                                            <form id="form<%= i %>" name="<%= key %>"
                                                action="/editProduct/<%= products[i].id %>" method="POST">
                                                <%= products[i][key] %>
                                            </form>
                                        </td>
                                        <% } %>
                                            <% if (key=="Category" ) { %>
                                                <td>
                                                    <input form="form<%= i %>" type="number" name="<%= key %>"
                                                        value="<%= products[i][key] %>">
                                                </td>
                                                <% } %>
                                                    <% if (key=="Price" ) { %>
                                                        <td>
                                                            <input form="form<%= i %>" type="number" name="<%= key %>"
                                                                value="<%= products[i][key] %>">
                                                        </td>
                                                        <% } %>
                                                        <% if (key == "Image") { %>
                                                        <td>
                                                            <input form="form<%= i %>" type="text"
                                                                name="<%= key %>"
                                                                value="<%= products[i][key] %>">
                                                        </td>
                                                        <% } %>
                                                            <% if (key !=="id" && key !=="Category" && key !=="Price" && key !=="Image" ) { %>
                                                                <td>
                                                                    <input form="form<%= i %>" type="text"
                                                                        name="<%= key %>"
                                                                        value="<%= products[i][key] %>">
                                                                </td>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <td>
                                                                                <div class="actions">
                                                                                    <button form="form<%= i %>"
                                                                                        class="editBtn" type="submit"><i
                                                                                            class="fa-solid fa-pencil"></i></button>
                                                                                    <form
                                                                                        action="/deleteProduct/<%= products[i].id %>"
                                                                                        method="POST">
                                                                                        <button class="deleteBtn"><i
                                                                                                class="fa-solid fa-trash"></i></button>
                                                                                    </form>
                                                                                </div>
                                                                            </td>
                        </tr>
                        <% } %>
            </tbody>
        </table>
    </div>
    <script src="../javascript/adminPanel.js"></script>
</body>

</html>