<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/78a4a1d08b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="navbar-logo">
            <p>Drip Too Hard</p>
        </div>
        <ul class="navbar-anchor">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="/views/about.html">About</a></li>
        </ul>
        <div class="navbar-login">
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="navbar-cart">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
    <div class="categorys">
        <ul>
            <li><a class="category-filter" data-category="0">All</a></li>
            <li><a class="category-filter" data-category="1">Pants</a></li>
            <li><a class="category-filter" data-category="2">T-shirts</a></li>
            <li><a class="category-filter" data-category="3">Jackets</a></li>
            <li><a class="category-filter" data-category="4">Sweaters</a></li>
            <li><a class="category-filter" data-category="5">Vests</a></li>
            <li><a class="category-filter" data-category="6">Other</a></li>
        </ul>
    </div>

    <div class="clothing-catalog">
        <% for (let i=0; i < products.length; i++) { %>
            <% for (let j=i; j < i + 1; j++) { %>
                <div class="product" data-category="<%= products[j].Category %>">
                    <div class="tile"><a href="/product/<%= products[j].id %>"><img src="<%= products[j].Image %>"></a></div>
                    <div class="product-info">
                        <div class="product-title"><a>
                                <span>
                                    <%= products[j].Brand %>
                                </span>
                                <br>
                                <%= products[j].Name %>
                            </a></div>
                        <div class="product-price">
                            €<%= products[j].Price.replace('.00', ',-' ); %>
                        </div>
                    </div>
                </div>
                <% } %>
                    <% } %>
    </div>
    <div class="pages-chooser">
        <ul>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
        </ul>
    </div>
    <footer>
        <div class="footer">
          <div class="row">
            <ul>
              <li><a href="mailto:contact@DTH.com">Contact us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
  
          <div class="row">
            Drip Too Hard Copyright © 2023 Drip Too Hard - All rights reserved
          </div>
        </div>
      </footer>
    <script src="../javascript/shop.js"></script>
</body>

</html>