<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/78a4a1d08b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="/styles/cart.css">
    <script src="/javascript/cart.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/footer.css"/>
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="navbar-logo">
            <p>Drip Too Hard</p>
        </div>
        <ul class="navbar-anchor">
            <li><a href="">Home</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="navbar-login">
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="navbar-cart">
          
            <a onclick="myFunction()"><i class="fa-solid fa-cart-shopping"></i></a>

        </div>
    </nav>
  
    <div class="topcontainer">
      
        <div class="productcontainer">
           
           <img class="productimg" src="/<%= product.Image %>">
        </div>
        <div class="infocontainer">
            <h1 class="product-title"><%= product.Brand %> <%= product.Name %></h1>
            <p class="description"><%= product.Description %></p>
            <p><%= product.Sizes %></p>
            <p><%= product.Colors%></p>
            <h1 class="price"> €<%= product.Price.replace('.00', ',-' ); %></h1>
             <button class="ordernow">Add to cart</button>
        </div>
    </div>





        <div id="myCart">
           <h1 class="cartTitle">Your cart</h1>
           <hr class="solid">
           <div class="itemcontainer">
            <img src="./img/Clothing/num1.png" class="cartItem" alt="">
            <div class="itemtext">
                <p class="iteminfo">Louis Vuitton midnight vest</p>
                <p class="iteminfo">size:</p>
                <p class="iteminfo">Quantity :</p>
                <p class="iteminfo">Color :</p>
            </div>

           </div>
        </div>
    </div>

  
   
    <footer>
        <div class="footer">
          <div class="row">
            <ul>
              <li><a href="mailto:contact@DTH.com">Contact us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
          <div class="row">
            Drip Too Hard Copyright © 2023 Drip Too Hard - All rights reserved
          </div>
        </div>
      </footer>
</body>
</html>