<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/78a4a1d08b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/products.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="navbar-logo">
            <p>Drip Too Hard</p>
        </div>
        <ul class="navbar-anchor">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="navbar-login">
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="navbar-cart">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
    <div class="categorys">
        <ul>
            <li><a class="category-filter" data-category="0">All</a></li>
            <li><a class="category-filter" data-category="1">Pants</a></li>
            <li><a class="category-filter" data-category="2">T-shirts</a></li>
            <li><a class="category-filter" data-category="3">Jackets</a></li>
            <li><a class="category-filter" data-category="4">Sweaters</a></li>
            <li><a class="category-filter" data-category="5">Vests</a></li>
            <li><a class="category-filter" data-category="6">Other</a></li>
        </ul>
    </div>
    <script>
        
    </script>
    <div class="clothing-catalog">
        <% for (let i=0; i < products.length; i+=3) { %>
            <% for (let j=i; j < i + 3; j++) { %>
                <% let clickedCat=0; %>
                    <% if (products[j].Category == selectedCategory ) { %>
                        <div class="product">
                            <div class="tile"><a><img src="<%= products[j].Image %>"></a></div>
                            <div class="product-info">
                                <div class="product-title"><a>
                                        <span>
                                            <%= products[j].Brand %>
                                        </span>
                                        <br>
                                        <%= products[j].Name %>
                                    </a></div>
                                <div class="product-price">
                                    €<%= products[j].Price.replace('.00', ',-' ); %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
                                <% } %>
    </div>
    <div class="pages-chooser">
        <ul>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
        </ul>
    </div>
    <script>
        let clothingCatalog = document.getElementById('clothing-catalog-id');
        let productsObj = '<%= products %>';


        for (let i = 0; i < productsObj.length; i += 3) {
            for (let j = i; j < i + 3; j++) {
                let clickedCat = 0;
                if (productsObj[j].Category == clickedCat) {
                    let productDiv = document.createElement('div');
                    let tileDiv = document.createElement('div');
                    let productInfoDiv = document.createElement('div');
                    let productTitleDiv = document.createElement('div');
                    let productPriceDiv = document.createElement('div');
                    let anchor1 = document.createElement('a');
                    let anchor2 = document.createElement('a');
                    let img = document.createElement('img');
                    let span = document.createElement('span');
                    let br = document.createElement('br');

                    clothingCatalog.appendChild(productDiv);
                    productDiv.appendChild(tileDiv);
                    tileDiv.appendChild(anchor1);
                    anchor.appendChild(img);
                    img.src = productsObj[j].Image;
                    productDiv.appendChild(productInfoDiv);
                    productInfoDiv.appendChild(productTitleDiv);
                    productTitleDiv.appendChild(anchor2);
                    anchor2.appendChild(span);
                    span.innerHTML = productsObj[j].Brand;
                    productTitleDiv.appendChild(br);
                    productTitleDiv.innerHTML = productsObj[j].Name;
                    productInfoDiv.appendChild(productPriceDiv);
                    productPriceDiv.innerHTML = '€' + productsObj[j].Price.replace('.00', ',-');


                    productDiv.className = 'product';
                    tileDiv.className = 'tile';
                    productInfoDiv.className = 'product-info';
                    productTitleDiv.className = 'product-title';
                    productPriceDiv.className = 'product-price';

                }
            }
        }
    </script>
    <script src="../javascript/shop.js"></script>
</body>

</html>